/* You can add global styles to this file, and also import other style files */

$font-size-root: 10px;
$primary: #0B0D17;
$secondary: #D0D6F9;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
    --primary-color: #0B0D17;
    --secondary-color: #D0D6F9;
    --tertiary-color: #FFFFFF;
    --primary-font: 'Bellefair', serif;
    --secondary-font: 'Barlow Condensed', sans-serif;
}

@import './custom-styles/index';