<div class="home">
    <div class="d-flex flex-column flex-lg-row justify-content-between justify-content-lg-around align-items-center text-center text-lg-start px-5 h-75 h-lg-auto">
        <div class="text-content">
            <h5 class="my-5 text-secondary text-uppercase d-lg-none">So, you want to travel to</h5>
            <h1 class="mb-5 text-uppercase">Space</h1>
            <p class="mb-5 text-secondary">
                Let’s face it; if you want to go to space, you might as well genuinely go
                to outer space and not hover kind of on the edge of it. Well sit back, and
                relax because we’ll give you a truly out of this world experience!
            </p>
        </div>

        <div
            class="flex-shrink-0 bg-white text-primary text-uppercase d-flex justify-content-center align-items-center explore-container">
            Explore
        </div>
    </div>
</div>